@using System.Text.RegularExpressions

@{
    foreach (var article in Model.ArticleSummary)
    {
        var regexId = new Regex(@"[\s+]");
        string articles = regexId.Replace(article.Title, "-").ToString();
        string url = $"{article.Id}-{articles}";

        <div class="article-summary-box">
            <div id="date">
                @article.Created.ToString(@"H:mm")
            </div>
            <div class="sum-text">
                <h4 id="title">
                    @article.Title
                </h4>
                <p id="intro">
                    @article.Intro
                </p>
            </div>

            <a id="read-more-btn" asp-controller="News" asp-action="ArticlePage" asp-route-urlId="@url">
                <button>Läs Mer <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </a>
        </div>
        <hr>
    }
}
