
/* Desktop first approach
    På dokumentet står det (<= 1024px);
*/
@media  (max-width: 1024px) {
  /* .article-summary {
      
  } */

  .pinned-articles {
      margin: 25px 15 px;
      width: 30%;
  }
   img {
       height: 200px;
       overflow: hidden;
   }
}

/* På dokumentet står det (< 700px) */
@media (max-width: 699px) and (min-width: 360px) {

    .article-summary {
        flex-direction: row;
        
    }

    .pinned-articles-container {
        flex-direction: row;
        flex-wrap: wrap;
    } 
    .pinned-articles {
        margin: 25px 10px;
        width: 45%;
    }
    /* background-color: green;*/
    /* Byt tema texten ska döljas */

}

html, body {

    margin: 0;
    padding: 0;
    background-color: #e5e7e5;
}

header, .header-items {
    padding: 10px;
    display: block;
    height: 100%;
    margin: 0px auto;
    background-color: #548052;
    color: white;
    
}


/* -------------- THEME TOGGLE BTN --------------*/

.toggle-btn {
    float: right;
   
}
.input {    
opacity: 0;
}
  

/* ----------- END OF THEME TOGGLE BTN ----------*/

/* ------------------- FOOTER --------------------*/
footer {
    display: flex;
    height: 100px;
    margin: 0px auto;
    background-color: #14342b;
    color: white;
}


/* ---------------- END OF FOOTER ------------------*/

/* --------------- PINNED ARTICLES -----------------*/

.pinned-articles-container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 10px;
    width: fit-content;
    

    /* 
    När jag har fixat flexbox och responsive kan jag köra allt center
    men tillsvidare så att det ser "snyggt" ut när man kör splitscreen
    kommer denna vara avkommenterad
    justify-items: center; 
    
    */
    
    max-width: calc(100% - 40px);
    /* text-decoration: none; */
    /* flex-direction: column; */
    /* margin: 0 auto 75px; */
    margin: 20px;
}

img {
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: fill; */
    width: 200px;
    height: 100px;
    
} 


#text-content {
    text-decoration: none;
    background-color: white;
    width: 200px;
    height: 100px;
    
    overflow: hidden;
}

#pinned-author {
    text-align: right;
}

img, #text-content {
    border-radius: 5px;
}



/* --------------- END OF PIN.ART. -----------------*/


/* --------------- ARTICLES SUMMARY ----------------*/
/* .article-summary-box, a{
    display: grid;
    align-items: baseline;
    height: 106px;
} */

.article-container {
    margin-left: 20px;
    width: 665px;
    background-color: white;
}
.article-summary-box {
    display: grid;
    grid-template-areas:
    "date article btn ads";
    padding: 10px;
    /* grid-template-rows: 60px 1fr 60px; */
    /* grid-template-columns: 20% 1fr 15%; */
    grid-template-columns: auto auto auto;
    text-decoration: none;
    margin:0;
    justify-content:left;
    /* justify-items: center; */
}

#date {
    flex: none;
    /* display: inline-block; */
    margin-right: 0.5rem;
    width: 3.5rem;
    
    margin-top: 0.8rem;
    grid-area: date;
    text-align: center;
    

    color: #999; /* Tills jag klurar ut hur jag fixar Timestampen kör jag en fejk muted text */
    
}

.article-p-tag {
    /* background-color: red;
    border-style: solid;
    border-color: black; */
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}

#summary-text{
    grid-area: article;
    justify-content: flex-start;
    width: 500px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    
}

#title {
    
    /* display: inline-block; */
    /* padding-top: 1.25rem; */
    font-weight: bold;

}

#intro {
    
    margin-top: 0.35rem;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
    
    direction: ltr;
}

button {

    text-align: center; 
    margin: auto;
    border: none;
    padding: 10px;
    color: white;
    background-color:#548052;
}

#read-more-btn {
    grid-area: btn;
    display: flex;
    text-decoration: none;
    justify-content:center;
    /* align-items: center; */
    
}

/* ----------------- END OF ART.SUM. ----------------*/

/* ---------------------- ADS -----------------------*/

.ad-container {
    grid-area: ads;
    display: flex;
    justify-content: right;
}

/* ------------------ END OF ADS --------------------*/
