@model mvc.Models.StartPage;


@{
    <div class="pinned-articles-container">
        @{
            Html.RenderPartial("PinnedArticles");
        }
    </div>
    <br />
    <div class="ads-container">
        @{
            Html.RenderPartial("Ads");
        }
    </div>
    <div class="article-container">
        <div class="article-p-tag">
            <h3>De senaste nyheterna</h3>
        </div>
        @{
            Html.RenderPartial("ArticleSummary");
        }
    </div>
}
